{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 48, "git_revision": "", "hash": "85eefc5632d3c691cb380bdd965574c3", "format-version": 4, "code-base-name": "default", "filename": "recipe_backend_workspace/recipe_backend/requirements.txt", "revision_history": [{"48": ""}]}